<%- layout("/layouts/boilerplate") %>

<!-- required attribute is used for browser default validation. Different browsers have differnet validation errors(lookwise) -->
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          placeholder="Add a catchy title" required
        />
        <div class="valid-feedback">
          Title Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
        </textarea>
        <div class="invalid-feedback">
          Please enter a short description
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          name="listing[image]"
          class="form-control"
          placeholder="Enter image"
        />
      </div>

      <div class="row">

      
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input
          name="listing[price]"
          class="form-control"
          placeholder="150000" required
        />
        <div class="invalid-feedback">
          Please enter the Price
        </div>
      </div>

      <div class="mb-3 col-8">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          class="form-control"
          placeholder="Pakistan" required
        />
        <div class="invalid-feedback">
          Please enter the country name
        </div>
      </div>
    </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          placeholder="Gujranwala, Punjab" required
        />
        <div class="invalid-feedback">
          Please enter the location
        </div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
    </form>
    <br><br>
  </div>
</div>
